# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
coverage.xml
coverage_html/

# GitLab Runner
.runner_system_id

# Databases & logs
*.db
*-wal
*-shm
logs/
*.log

# Environments & OS files
.env
.venv
venv/
env/
.DS_Store
Thumbs.db
